---

import 'katex/dist/katex.min.css';

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>競賽程式</title>
	</head>
	<body>
		<h1>競賽程式</h1>
		<a href="/CPPBook/lectures/hw/"> HW </a><br>
		<a href="/CPPBook/lectures/stl/"> STL </a><br>
		<a href="/CPPBook/lectures/greedy/"> Greedy </a><br>
		<a href="/CPPBook/lectures/dc/"> Divide and Conquer </a><br>
    <a href="/CPPBook/lectures/dp/"> Dynamic Programming</a><br>
    <a href="/CPPBook/lectures/graph/"> Graph </a><br>
    <a href="/CPPBook/lectures/shortest-path/"> Shortest Path </a> <br>
	<a href="/CPPBook/lectures/tree1/"> Tree(1) </a> <br>
	<a href="/CPPBook/lectures/math/"> Math </a> <br>
	<a href="/CPPBook/lectures/ds1/"> Data Structure(1) </a> <br>
	<a href="/CPPBook/lectures/ds2/"> Data Structure(2) </a> <br>
	<!-- undone
	<a href="/CPPBook/lectures/tree2/"> Tree(2) </a> <br>
	<a href="/CPPBook/lectures/lca/"> LCA </a> <br>
	-->
	</body>
</html>
